@import '../../../stylesheets/variables.scss';

.menu_out {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  background: $blue;
  z-index: 99;
  overflow: hidden;
  height: 0;
  transition: all .5s cubic-bezier(1,0,0,1) 0ms;
  max-height: 100%;
  min-width: 0;  
}

.menu_out_active {
  @extend .menu_out;
  width: calc(((100% - 130px) * 2/3) + 130px);
  max-width: calc(((100% - 130px) * 2/3) + 130px);
  min-width: 600px;
  height: 100vh !important;
}

.menu_overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
  background: rgba(0,0,0,.5);
}

.menu_overlay_active {
  @extend .menu_overlay;
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}

.menu_inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: $blue;
  padding: 0;
  padding: 20%;
  padding-right: 0;
  counter-reset: menu;
  min-width: 600px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-direction: column;
  flex-direction: column;
}

.menu_item_container {
  padding-top: 2px;
  margin-bottom: 15px;
  overflow: hidden;
}

.menu_item_container_active {
  @extend .menu_item_container;
  transition-delay: .65s;
}

.menu_item {
  transition-delay: .05s;
  transform: translate3d(0,calc(100% + 15px),0);
  transition: all .5s;
  counter-increment: menu;
  color: $white;
  text-decoration: none;
  transition: all .5s;
  display: inline-block;
  position: relative;
  padding: 0 15px;
  padding-right: 30px;
  // toke personal
  font-family: $oswald;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 800;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    top:25px;
    right: 0;
    background: hsla(0,0%,100%,.3);
    height: 7%;
    transform-origin: left center;
    transform: scaleX(0);
    transition: transform .4s cubic-bezier(1,0,0,1) 0ms;
  }
  &:hover {
    color: $white;
    text-decoration: none;
    &:before { 
      transform: scaleX(1);
    }
  }
}

.logo_in_overlay_menu {
  position: absolute;
  top: 63px;
  margin-left: 15px;
  transition: opacity .15s ease-in-out;
  display: block;
  &:hover{
    opacity: .5;
  }
  img {
    height: 25px;
    display: block;
    -webkit-filter: drop-shadow(5px 5px 5px #000);
    filter: drop-shadow(5px 5px 5px #000);
  }
}

.menu_item_active {
  @extend .menu_item;
  transition-delay: .55s;
  transform: translateZ(0);
}


/*      RESPONSIVE      */

@media (max-width: 600px){
  .menu_out_active {
    max-width: 100% !important;
    width: 100% !important;
    min-width: 0;
  }

}

@media (max-width: 650px){
  .menu_inner {
    padding-top: 115px!important;
  }

  .menu_item_active {
    font-size: 26px;
    line-height: 1.5;
  }
}

@media (max-width: 768px){
  .menu_inner {
    padding: 115px 25px 100px!important;
    min-width: 0;
  }
}

@media (max-width: 850px){
  .menu_inner {
    padding: 200px 198px 100px;
  }
}

@media (max-width: 975px){
  .menu_out_active {
    width: calc(100% - 130px);
    max-width: calc(100% - 130px);
    height: 100%;
    background: 0 0;
    
  }

  .menu_overlay_active {
    background: hsla(0,0%,100%,.7);
  }

  .menu_inner {
    padding: 200px 198px 100px;
    padding-left: 25px;
    max-width: calc(100% - 50px);
  }

  .logo_in_overlay_menu {
    margin-left: 75px;
    top: 31px;
  }
}