@import '../../../stylesheets/variables.scss';

.home_wrapper {       //    pg-banner__home pg-banner j-load--banner
  min-height: 0;
  height: 100vh;
  background-color: $black;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  position: relative;
}

.content {            //    pg-home-banner--content
  width: 100%;
  display: -ms-flexbox;
  display: flex;
}

.left_section {      //  pg-home-banner--featured j-load--section
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);

  -ms-flex-positive: 2;
  flex-grow: 2;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
  z-index: 9;
  background: $black ;
  overflow: hidden;
  padding-left: 130px;
}

.description_container {       //      pg-home-banner--featured-content j-parallax--featured
  color: $white;
  position: relative;
  z-index: 2;
  padding: 62px 80px;
  max-width: 570px;
  text-shadow: 9px 9px 9px $black;
}

.description_title {
  font-size: 30px;
  font-family: $oswald;
  font-weight: bold;
}

.description_text{
  margin-bottom: 38px;
  color: #e4e4e4;
  font-family: $poppins;
  font-size: 13px;
  text-align: justify;
}

.fast_link {
  color: $white;
  display: inline-block;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  padding-bottom: 5px;
  font-family: $oswald;
  font-weight: 500;
  &:after {
    content: "";
    display: block;
    left: 0;
    right: 0;
    height: 2px;
    background: $blue;
    transition: all .4s;
    position: absolute;
    bottom: 0;
  }
  &:hover {
    text-decoration: none;
    color: #fff;
    &:after {
      left: 100%;
    }
  }
}

.bg_left_section {        //      parallax container
  background: url("https://studio-front.s3.amazonaws.com/slider.jpg");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: -35px;
  bottom: -35px;
  left: -35px;
  right: -35px;
}

.right_section {          //    pg-home-banner--message j-load--section
  // -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  background: $black;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 8;
}

.message_container {        //      pg-home-banner--message j-load--section
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.message_text {
  color: $white;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  margin-right: 65px;
  line-height: .9;
  letter-spacing: .01em;  
  height: 100vh;
}

.message_text_inner {
  padding: 80px 50px 110px;
  display: block;
  font-family: $oswald;
  font-size: 45px;
  font-weight: bold;
}

.arrow_bottom {
  position: absolute;
  top: 100%;
  right: 75px;
  margin-top: -56px;
  opacity: 1;
  transition: all .6s;
  display: block;
  width: 112px;
  height: 112px;
  background: $blue;
  cursor: pointer;
  &:before {
    content: "";
    position: absolute;
    background: #fff;
    bottom: -25px;
    width: 1px;
    left: 50%;
    top: 50%;
    transition: bottom .4s;
  }
  &:after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
    bottom: -25px;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    opacity: 1;
  }
}