@import '../../../stylesheets/variables.scss';

.home_wrapper {       //    pg-banner__home pg-banner j-load--banner
  min-height: 0;
  height: 100vh;
  background-color: $black;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  position: relative;
}

.content {            //    pg-home-banner--content
  width: 100%;
  display: -ms-flexbox;
  display: flex;
}